.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
}
.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 600;
}
.sidebar {
  display: flex;
  height: 100vh;
  width: 16rem; /* equivalente a w-64 */
  flex-direction: column;
  border-right: 2px solid #262626; /* neutral-800 */
  align-items: flex-start;
  gap: 2rem; /* equivalente a gap-8 */
  padding: 0.75rem 2.5rem; /* px-10 py-3 */
  padding-top: 6rem; /* pt-24 */
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category {
  color: black;
  display: flex;
  font-size: 1em;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
  max-width: 600px;
  width: 120px;
  height: 120px;
  padding: 20px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.category:hover {
  background-color: #e3e3eb;
}
